.logo {
    max-width: 150px;
    height: 100%;
}

.logoContainer {
    display: flex;
    align-items: center;
    margin:  0;
    font-size:35px;
    font-weight:bold;
     color:var(--secondary) !important;
}