.container {
    border-radius: var(--border-radius-200);
    overflow: hidden;
    outline: none;
}

.content {
    max-height: calc(100vh - 200px);
    background-color: var(--primary) !important;
    padding: 40px;
    text-align: center;
    overflow: auto;
}

.container p {
    font-size: var(--font-size-800);
    font-weight: 600;
}

.container button {
    border-radius: var(--border-radius-200);
    width: 100px;
}

.container button:first-of-type {
    margin-right: 20px;
}

@media (max-width:600px) {
    .content {
        padding: 30px 20px;
    }

}