.container {
    max-width: 900px;
    margin: auto;
}

.smallScreens {
    display: none;
}

@media (max-width:768px) {
    .bigScreens {
        display: none;
    }

    .smallScreens {
        display: block;
    }
}