.input input,
.input textarea {
    height: 26.5px;
    background-color: var(--primary);
    padding: 4px 15px;
    font-size: var(--font-size-300);
    border: 1px solid var(--input-border);
    border-radius: var(--border-radius-inputs);
}

.input input:hover,
.input textarea:hover {
    border-color: var(--text-header);

}

.password input {
    padding-right: 50px !important;
}

.input input:focus,
.input textarea:focus {
    border-color: var(--focus);
}

.input {
    margin-top: 35px;
    position: relative;
}

.label {
    color: var(--label);
    position: absolute;
    transform: none;
    font-size: var(--font-size-200);
    font-weight: 500;
    top: -20px;
}

/* @media (max-width:900px) {
    .input input {
        font-size: var(--font-size-200);
        height: 21.5px;
    }
} */